
<div class="flex flex-col items-center justify-center max-w-7xl mx-auto bg-white p-10 rounded-md shadow">
  <h1 class="font-bold text-7xl text-red-700 py-10">57-58期デプロイイベント</h1>
  <p>無事にデブロイできました！</p>
  <%= image_tag 'RUBY_ON_SAURUS.png', alt: 'ロゴ', class: 'logo-class' %>
</div>